@{
    ViewData["Title"] = "Home Page";
}


<h1>Main Page Content</h1>

<br />
<br />
@* <form method="post" asp-action="PrintReport">
    <button type="submit" class="btn btn-success">Save & Print</button>
</form>

 *@

<form method="post" asp-action="GetBarcode" target="_blank">
    <button type="submit" class="btn btn-primary">Get Barcode</button>
</form>






























@* 
<div class="container-fluid">
    <div class="page-header">
        <div>
            <h1 class="page-title">Form Elements Advanced</h1>
        </div>
        <div class="ms-auto pageheader-btn">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0);">Forms</a></li>
                <li class="breadcrumb-item active" aria-current="page">Form Advanced</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-xl-12">
            <div class="card">
                <div class="card-header border-bottom card-gray">
                    <h3 class="card-title">Initial collapsed card</h3>
                    <div class="card-options">
                        <a href="#" class="card-options-collapse" data-bs-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>
                                    Chalan Area<span class="text-red text"
                                                     aria-hidden="true">*</span>
                                </label>
                                <input type="text" class="form-control" id="inputName"
                                       placeholder="Name">
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group">
                                <label>
                                    Chalan Area<span class="text-red text"
                                                     aria-hidden="true">*</span>
                                </label>
                                <input type="text" class="form-control" id="inputName"
                                       placeholder="Name">
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group">
                                <label>
                                    Chalan Area<span class="text-red text"
                                                     aria-hidden="true">*</span>
                                </label>
                                <input type="text" class="form-control" id="inputName"
                                       placeholder="Name">
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group">
                                <label>
                                    Chalan Area<span class="text-red text"
                                                     aria-hidden="true">*</span>
                                </label>
                                <input type="text" class="form-control" id="inputName"
                                       placeholder="Name">
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group">
                                <label>
                                    Chalan Area<span class="text-red text"
                                                     aria-hidden="true">*</span>
                                </label>
                                <input type="text" class="form-control" id="inputName"
                                       placeholder="Name">
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group">
                                <label>
                                    Chalan Area<span class="text-red text"
                                                     aria-hidden="true">*</span>
                                </label>
                                <input type="text" class="form-control" id="inputName"
                                       placeholder="Name">
                            </div>
                        </div>
                    </div>
                    <div class="row SectionLastRow">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>
                                    Chalan Area<span class="text-red text"
                                                     aria-hidden="true">*</span>
                                </label>
                                <input type="text" class="form-control" id="inputName"
                                       placeholder="Name">
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group">
                                <label>
                                    Chalan Area<span class="text-red text"
                                                     aria-hidden="true">*</span>
                                </label>
                                <input type="text" class="form-control" id="inputName"
                                       placeholder="Name">
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group">
                                <label>
                                    Chalan Area<span class="text-red text"
                                                     aria-hidden="true">*</span>
                                </label>
                                <input type="text" class="form-control" id="inputName"
                                       placeholder="Name">
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group">
                                <label>
                                    Chalan Area<span class="text-red text"
                                                     aria-hidden="true">*</span>
                                </label>
                                <input type="text" class="form-control" id="inputName"
                                       placeholder="Name">
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group">
                                <label>
                                    Chalan Area<span class="text-red text"
                                                     aria-hidden="true">*</span>
                                </label>
                                <input type="text" class="form-control" id="inputName"
                                       placeholder="Name">
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group">
                                <label>
                                    Chalan Area<span class="text-red text"
                                                     aria-hidden="true">*</span>
                                </label>
                                <input type="text" class="form-control" id="inputName"
                                       placeholder="Name">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-xl-12">
            <div class="card">
                <div class="card-header border-bottom card-info">
                    <h3 class="card-title">Initial collapsed card</h3>
                    <div class="card-options">
                        <a href="#" class="card-options-collapse" data-bs-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>
                                    Chalan Area<span class="text-red text"
                                                     aria-hidden="true">*</span>
                                </label>
                                <input type="text" class="form-control" id="inputName"
                                       placeholder="Name">
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group">
                                <label>
                                    Chalan Area<span class="text-red text"
                                                     aria-hidden="true">*</span>
                                </label>
                                <input type="text" class="form-control" id="inputName"
                                       placeholder="Name">
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group">
                                <label>
                                    Chalan Area<span class="text-red text"
                                                     aria-hidden="true">*</span>
                                </label>
                                <input type="text" class="form-control" id="inputName"
                                       placeholder="Name">
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group">
                                <label>
                                    Chalan Area<span class="text-red text"
                                                     aria-hidden="true">*</span>
                                </label>
                                <input type="text" class="form-control" id="inputName"
                                       placeholder="Name">
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group">
                                <label>
                                    Chalan Area<span class="text-red text"
                                                     aria-hidden="true">*</span>
                                </label>
                                <input type="text" class="form-control" id="inputName"
                                       placeholder="Name">
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group">
                                <label>
                                    Chalan Area<span class="text-red text"
                                                     aria-hidden="true">*</span>
                                </label>
                                <input type="text" class="form-control" id="inputName"
                                       placeholder="Name">
                            </div>
                        </div>
                    </div>
                    <div class="row SectionLastRow">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>
                                    Chalan Area<span class="text-red text"
                                                     aria-hidden="true">*</span>
                                </label>
                                <input type="text" class="form-control" id="inputName"
                                       placeholder="Name">
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group">
                                <label>
                                    Chalan Area<span class="text-red text"
                                                     aria-hidden="true">*</span>
                                </label>
                                <input type="text" class="form-control" id="inputName"
                                       placeholder="Name">
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group">
                                <label>
                                    Chalan Area<span class="text-red text"
                                                     aria-hidden="true">*</span>
                                </label>
                                <input type="text" class="form-control" id="inputName"
                                       placeholder="Name">
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group">
                                <label>
                                    Chalan Area<span class="text-red text"
                                                     aria-hidden="true">*</span>
                                </label>
                                <input type="text" class="form-control" id="inputName"
                                       placeholder="Name">
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group">
                                <label>
                                    Chalan Area<span class="text-red text"
                                                     aria-hidden="true">*</span>
                                </label>
                                <input type="text" class="form-control" id="inputName"
                                       placeholder="Name">
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group">
                                <label>
                                    Chalan Area<span class="text-red text"
                                                     aria-hidden="true">*</span>
                                </label>
                                <input type="text" class="form-control" id="inputName"
                                       placeholder="Name">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

 *@
@section scripts {

}
























































@* <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <h2>Your Age is: <span class="text-danger">@ViewBag.result</span></h2>
</div>
 *@